{% extends "layouts/base-fullscreen.html" %}
{% block title %} Signed OUT! {% endblock %}
{% block content %}
  <div class="page-header min-vh-100" style="background-image: url('https://i.pinimg.com/originals/09/c0/26/09c0263dc7634794f9902f748db10d3a.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card">
            <div class="card-header text-center bg-gradient-primary text-white">
              <h4>Newspaper</h4>
              <p>
                {% if msg %}
                  {{ msg | safe }}
                {% else %}
                  You were logged out!
                {% endif %}
              </p>
            </div>
            <div class="card-body text-center">
              <a href="/" class="btn bg-gradient-primary w-100 my-2">Back</a>
              <a href="{% url 'login' %}" class="btn bg-gradient-primary w-100 my-2">Sign IN</a>
              <p class="mt-4 text-sm">
                Don't have an account?
                <a href="{% url 'register' %}" class="text-primary">Sign UP</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}