{% extends 'base.html' %}

{% block content %}
    <h2>Newspapers</h2>
    <a href="{% url 'newspapers:newspaper_create' %}">Add New Newspaper</a>
    <ul>
        {% for newspaper in newspapers %}
            <li>
                <h3><a href="{% url 'newspapers:newspaper_detail' newspaper.pk %}">{{ newspaper.title }}</a></h3>
                <a href="{% url 'newspapers:newspaper_update' newspaper.pk %}">Edit</a>
            </li>
        {% empty %}
            <li>No newspapers available.</li>
        {% endfor %}
    </ul>
{% endblock %}
